<div class="hero-unit font-gray hero-setting">
	<div class="wrap-small">

<%= form_tag attendance_log_workunit_zusammen_path do %>
    <label class=" font-gray" >生产线号</label>
    <%= text_field_tag :workunitNr, params[:workunitNr] %>
    <label class=" font-gray" >状态</label>
    <%= text_field_tag :state, params[:state] %>
    <label class=" font-gray" >起始时间</label>
    <%= text_field_tag :sTime, params[:sTime] %>
    <label class=" font-gray" >截止时间</label>
    <%= text_field_tag :eTime, params[:eTime] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>


	<% if @logUnit %>
	<ul>
		<li>生产线号：<%= @logUnit.nr %></li>
		<li>状态：<%= params[:state] %></li>
		<li>有效时间(秒)：<%= @value %> s</li>
	</ul>
	<% end %>


	</div>
</div>