<div class="hero-unit font-gray hero-setting">
     <div class="wrap-small clearfix">

          <div class="file-upload-place-left">
               <div class="notice">
                    <%= flash[:notice] %>
               </div>
               <%= form_tag  do %>
               <%= label_tag :capNr, "组长员工号：" %>
               <input type="text" value="<%= @capNr%>" disabled readonly/>
               <br />

               <%= label_tag :nr, "组员员工号：" %>
               <%= text_field_tag :nr %>
               <br />
               <%= label_tag :name, "姓名："%>
               <%= text_field_tag :name %>
               <br />
               <%= submit_tag("新建",:name=>nil,:class=>"btn btn-primary") %>
               <%= submit_tag("查询",:name=>'search',:class=>"btn btn-success") %>
               <% end %>

               上传组员：
               <input id="uploadMembersFile" type="file" name="files[]" data-url="../attendance/upload_members" >
               <div class="abstractblock" id="uploadMembersFile-preview" style="display:none;"></div>

          </div>

          <div class="file-upload-place-right" >
               <table class="table table-bordered table-striped globle-table">
                    <tr>
                         <th>&nbsp;</th>
                         <th>员工号</th>
                         <th>姓名</th>
                         <th>状态</th>
                         <th>&nbsp;</th>
                    </tr>
                    <% @members.each_with_index do |mem,i| %>
                    <tr>
                         <td><%= i+1%></td>
                         <td><%= mem.nr %></td>
                         <td><%= mem.name %></td>
                         <td><%= mem.state %></td>
                         <td><%= button_tag( "删除", :type=>"button", :onclick=>"delete_mem(this,'#{mem.id}');",:class=>" btn-danger" )%></td>
                    </tr>
                    <% end %>
               </table>
               <p>
                    <%= will_paginate @members,{:previous_label=>'<',:next_label=>'>',:page_gap=>'......'}%>
               </p>
          </div>

     </div>
</div>
<script src="/assets/jquery.file.upload/jquery.fileupload.js" type="text/javascript"></script>
<script type="text/javascript">
     $(function() {
          initial_uploader("#uploadMembersFile");
     })
</script>
